<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link href='/css/help_style.css' rel='stylesheet' type='text/css'/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/my_page">Banner admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/banners">Show all banners <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audit/my">Show my audit</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/audit">Show audit</a>
            </li>
            <div>{{user}}</div>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <input type="submit" value="Sign Out" class="btn btn-outline-success"/>
            </form>
        </ul>
    </div>
</nav>
{{^auditCheck}}
<div class="table-responsive" style="width: 96%; margin-left: 2%; margin-right: 2%">
    <table class="table table-hover" id="audit_table">
        <thead>
        <tr>
            <th scope="col" rowspan="2">ID</th>
            <th scope="col" rowspan="2">Date</th>
            <th scope="col" rowspan="2">Action</th>
            <th scope="col" colspan="7" style="text-align: center">Banner Info</th>
            <th scope="col" rowspan="2">User who made action</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Country</th>
            <th scope="col">Language</th>
            <th scope="col">TargetUrl</th>
            <th scope="col">height</th>
            <th scope="col">width</th>
            <th scope="col">image source</th>
        </tr>
        </thead>
        <tbody>
        {{#audits}}
            <tr id="row-{{id}}">
                <th scope="row">{{id}}</th>
                <td id="date-{{id}}">{{date}}</td>
                <td id="type-{{id}}">
                    <span class="jQtooltip" title="{{comment}}">{{type}}</span></td>
                {{^banner}}
                    <td colspan="7" id="banner_deleted-{{id}}">Banner was deleted. See last version in DELETED comment</td>
                {{/banner}}
                {{#banner}}
                    <td id="bannerId-{{id}}">{{banner.id}}</td>
                    <td id="bannerCountry-{{id}}">{{banner.lang.country}}</td>
                    <td id="bannerLang-{{id}}">{{banner.lang.language}}</td>
                    <td id="bannerTarget-{{id}}">{{banner.targetUrl}}</td>
                    <td id="bannerHeight-{{id}}">{{banner.height}}</td>
                    <td id="bannerWidth-{{id}}">{{banner.width}}</td>
                    <td id="bannerImg-{{id}}">{{banner.imgSrc}}</td>
                {{/banner}}
                <td> {{user.username}}</td>
            </tr>
        {{/audits}}
        </tbody>
    </table>
</div>
{{/auditCheck}}
{{#auditCheck}}
    <h1>Emplty audit ¯\_(ツ)_/¯</h1>
{{/auditCheck}}
</body>
</html>