<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="import" href="static/header.html">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link href='/static/css/help_style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/my_page">Banner admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/banners">Show all banners <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audit/my">Show my audit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audit">Show audit</a>
            </li>
        </ul>
        <div>{{user}}</div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out" class="btn btn-outline-success"/>
        </form>
    </div>
</nav>
<form method="post" action="/banners/update">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <select name="langId">
        <option selected value="{{banner.lang.id}}">{{banner.lang.country}} {{banner.lang.language}}</option>
        {{#locals}}
        <option value="{{id}}">{{country}} {{language}}</option>
        {{/locals}}
    </select>
    <input type="hidden" name="id" value="{{banner.id}}"/>
    <input type="text" name="targetUrl"  placeholder="targetUrl" value="{{banner.targetUrl}}"/>
    <input type="text" name="height"  placeholder="height" value=" {{banner.height}}"/>
    <input type="text" name="width"  placeholder="width" value="{{banner.width}}"/>
    <input type="text" name="imgSrc"  placeholder="imgSrc" value="{{banner.imgSrc}}"/>
    <button type="submit">Edit</button>
</form>
</body>
</html>