<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/banners/update">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <select name="langId">
        <option selected value="{{banner.lang.id}}">{{banner.lang.country}} {{banner.lang.language}}</option>
        {{#locals}}
        <option value="{{id}}">{{country}} {{language}}</option>
        {{/locals}}
    </select>
    <input type="hidden" name="id" value="{{banner.id}}">
    <input type="text" name="targetUrl"  placeholder="targetUrl" value="{{banner.targetUrl}}">
    <input type="text" name="height"  placeholder="height" value=" {{banner.height}}">
    <input type="text" name="width"  placeholder="width" value="{{banner.width}}">
    <input type="text" name="imgSrc"  placeholder="imgSrc" value="{{banner.imgSrc}}">
    <button type="submit">Edit</button>
</form>
</body>
</html>