<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
         </div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <select name="langId">
            {{#locals}}
                <option value="{{id}}">{{country}} {{language}}</option>
            {{/locals}}
        </select>
        <input type="text" name="targetUrl"  placeholder="targetUrl">
        <input type="text" name="height"  placeholder="height">
        <input type="text" name="width"  placeholder="width">
        <input type="text" name="imgSrc"  placeholder="imgSrc">
        <button type="submit">Add</button>
    </form>
</div>
{{#banners}}
<div>
    {{id}}
    {{lang.country}}
    {{lang.language}}
    {{targetUrl}}
    {{height}}
    {{width}}
    {{imgSrc}}
</div>
{{/banners}}
</body>
</html>