<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="import" href="static/header.html">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link href='/static/css/help_style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/my_page">Banner admin panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/banners">Show all banners <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audit/my">Show my audit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audit">Show audit</a>
            </li>
        </ul>
        <div>{{user}}</div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out" class="btn btn-outline-success"/>
        </form>
    </div>
</nav>
<form action="/banners/update" class="needs-validation" style="margin-left: 2%; margin-right: 2%" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="hidden" name="id" value="{{banner.id}}">
    <div class="form-row">
        <div class="col mb-3">
            <label for="validationCustom01">Local</label>
            <select name="langId" class="form-control">
                <option selected value="{{banner.lang.id}}">{{banner.lang.country}} {{banner.lang.language}}</option>
                {{#locals}}
                    <option value="{{id}}">{{country}} {{language}}</option>
                {{/locals}}
            </select>
        </div>
        <div class="col mb-3">
            <label for="validationCustom02">Banner height</label>
            <input type="text" value="{{^enteredBanner}}{{banner.height}}{{/enteredBanner}}{{#enteredBanner}}{{#height}}{{value}}{{/height}}{{/enteredBanner}}" class="form-control {{#heightError}}
            is-invalid{{/heightError}}" name="height" placeholder="height"/>
            {{#heightError}}
                <div class="invalid-feedback">
                    {{heightError}}
                </div>
            {{/heightError}}
        </div>
        <div class="col mb-3">
            <label for="validationCustomUsername">Banner width</label>
            <div class="input-group">
                <input type="text"
                       value="{{#enteredBanner}}{{#width}}{{value}}{{/width}}{{/enteredBanner}}{{^enteredBanner}}{{banner.width}}{{/enteredBanner}}"
                       class="form-control {{#widthError}}is-invalid{{/widthError}}" name="width" placeholder="width"/>
                {{#widthError}}
                    <div class="invalid-feedback">
                        {{widthError}}
                    </div>
                {{/widthError}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col mb-3">
            <label for="validationCustom03">Target URL</label>
            <input type="text" value="{{#enteredBanner}}{{#targetUrl}}{{targetUrl}}{{/targetUrl}}{{/enteredBanner}}{{^enteredBanner}}{{banner.targetUrl}}{{/enteredBanner}}"
                   name="targetUrl" class="form-control {{#targetUrlError}}is-invalid{{/targetUrlError}}"
                   placeholder="targetUrl"/>
            {{#targetUrlError}}
                <div class="invalid-feedback">
                    {{targetUrlError}}
                </div>
            {{/targetUrlError}}
        </div>
        <div class="col mb-3">
            <label for="validationCustom04">Image Source</label>
            <input type="text" value="{{#enteredBanner}}{{#imgSrc}}{{imgSrc}}{{/imgSrc}}{{/enteredBanner}}{{^enteredBanner}}{{banner.imgSrc}}{{/enteredBanner}}"
                   name="imgSrc" class="form-control {{#imgSrcError}}is-invalid{{/imgSrcError}}" placeholder="imgSrc"/>
            {{#imgSrcError}}
                <div class="invalid-feedback">
                    {{imgSrcError}}
                </div>
            {{/imgSrcError}}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">EDIT</button>
</form>
</body>
</html>