<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Sign Out"/>
        </form>
         </div>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="langId" placeholder="введите">
        <input type="text" name="targetUrl"  placeholder="введите">
        <input type="text" name="height"  placeholder="введите">
        <input type="text" name="width"  placeholder="введите">
        <input type="text" name="imgSrc"  placeholder="введите">
        <button type="submit">Добавить</button>
    </form>
</div>
{{#banners}}
<div>
    {{id}}
    {{langId}}
    {{targetUrl}}
    {{height}}
    {{width}}
    {{imgSrc}}
</div>
{{/banners}}
</body>
</html>